<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand"  routerLink="/welcome">Curso - Spring Boot e Angular 7</a>
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->

      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <span class="badge green">{{users?.length}}</span>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" routerLink="list-user"><i class="fas fa-users"></i> Usuários <span class="badge green">{{users?.length}}</span></a>
                <a class="dropdown-item"  (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sair</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->